[submodule "backend"]
	path = backend
	url = git@github.com:Vizja-CS-Master-Project-Group/backend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = git@github.com:Vizja-CS-Master-Project-Group/frontend.git
	branch = main
