[submodule "backend"]
	path = backend
	url = https://github.com/Vizja-CS-Master-Project-Group/backend
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/Vizja-CS-Master-Project-Group/frontend
	branch = main
